.navbar{
        padding: 10px 0px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: absolute;
}
body{
        margin-left:10px;
        margin-right:10px;
        font-family:serif;
        background-color:#faf7f4;
}
.Applogo{
        height: 70px;
        width: 75px;
}
.navbar-container{

        align-items: center;
        display: flex;
}
.navbar-list{
        list-style :none;
        display:flex;
        gap: 35px;
        color:black;
        padding-left: 330px;
        justify-content:center;
        font-size: 20px;
        font-weight: bolder;
    }
    .search-list{
        list-style :none;
        display:flex;
        gap: 20px;
        color:black;
        padding-left: 220px;
        justify-content:center;
        align-items: center;
        font-size: 20px;
        font-weight: bolder;
    }
    .search{
        height: 30px;
        width: 30px;
        border-radius: 90px;
        margin-left: 135px;
    }
    .navbar li{
            cursor: pointer;
        }
        .box{
                border: 1px solid rgb(245, 80, 163);
                width: 170px;
                border-radius: 23px;
                
        }
