.footer-content{
        display:flex;
        justify-content: space-evenly;
}
.Footer{
        margin-top:800px;
}
.footer-content-right{
        display: grid;
        padding-right: 200px;
        padding-top: 10px;
}
.footer-content-left{
        display: grid;
}
.footer-content-left p{
        padding-right: 160px;
        padding-left: 35px;
        
}
.footer-content-center{
        display: grid;
        padding-right: 225px;
        padding-top: 10px;
}
.footer-content-center li{
        list-style: none;
        padding-top: 15px;
        cursor: pointer;
}
.footer-content-right li{
        list-style: none;
        padding-top: 15px;
        margin-right: -190px;
        cursor: pointer;
}
.footer-content-right h2{
        margin-right: -160px;
}
.footer-social-icons img{

        width: 25px;
        height: 20px;
        padding-left: 10px;
        cursor: pointer;
}
.footer-social-icons{
        margin-left: 25px;
        margin-top: 25px;
}
.Footer hr{
        width: 100%;
        height: 2px;
        margin: 20px 0;
        background-color: gray;
        border: none;
}
.copy-right{
        text-align: center;
        justify-content: center;
        display: flex;
        padding-bottom: 10px;
}
.Footer h2{
        padding-top: 80px;
}